/* reset */
body {margin: 0; padding: 0;}
div {margin: 0; padding: 0;}
img {margin: 0; padding: 0;}

/* common */
.dn {display: none;}
.db {display: block;}

/* special */
#popContainer {width: 100%; bottom: 0; left: 0; overflow-x: auto; overflow-y: scroll; position: fixed; right: 0; top: 0; z-index: 900;}
#pop {width: 60%; text-align: center; border: #000 solid 2px; border-radius: 5px; margin-left: auto; margin-right: auto; margin-top: 50px;}
#backdrop {background-color: #000000; bottom: 0; left: 0; position: fixed; right: 0; top: 0; opacity: 0.6; z-index: 800;}
