/* reset */
body {margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 17px;background-image:url('background.jpg'); background-repeat: repeat; background-attachment: fixed; background-size: cover;}
div {margin: 0; padding: 0;}
img {margin: 0; padding: 0;}

/* common */
.dn {display: none;}
.db {display: block;}
.z1000 {z-index: 1000;}
.pa {position: absolute;}

/* special */
#head {left:0px; background:#cccccc; text-decoration: none; width:100%; position: fixed;}
#container {padding-top: 17px;}
#backdrop {background-color: #000; bottom: 0; left: 0; position: fixed; right: 0; top: 0; opacity: 0.6; z-index: 800;}
#invisible {left: -10000px;}
.divNode {float:left; table-layout: fixed; background-color: #FFF; word-wrap: break-word; overflow: hidden;}
.divNode:hover {cursor: pointer;}
.divMedia {vertical-align:bottom;}
.divLink {width: 100%; height:100%;}
a.divLinkA {width: 100%; height:100%;}
.divPop {overflow: hidden; z-index: 900;}
.divTitle {background-color: #FFF; width: 100%; position: absolute;}
