/* reset */
body {margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 17px;background-image:url('background.jpg'); background-repeat: repeat; background-attachment: fixed;}
div {margin: 0; padding: 0;}
img {margin: 0; padding: 0;}

/* common */
.dn {display: none;}
.db {display: block;}

/* special */
#head {left:0px; background:#cccccc; text-decoration: none; width:100%; position: fixed;}
#popContainer {width: 100%; bottom: 0; left: 0; overflow-x: auto; overflow-y: scroll; position: fixed; right: 0; top: 0; z-index: 900; margin-top: 50px;}
#popWrap {float: left; margin-left: 50%;}
#pop {left: -50%; position: relative;}
#backdrop {background-color: #000; bottom: 0; left: 0; position: fixed; right: 0; top: 0; opacity: 0.6; z-index: 800;}
#invisible {left: -10000px;}
.divImg {float:left; table-layout: fixed; background-color: #FFF; word-wrap: break-word; overflow: hidden; display: inline;}
.divImg img {vertical-align:bottom;}
