body {background: #282827;font-family: arial, helvetica, sans-serif;font-size: 14px;color: #FFF;}

.item {width: 23%; border: solid 2px; background-color: #444;border-radius: 30px;font-size: 12px;line-height: 35px; margin-left: 5px; margin-top: 10px;}
.item.w2 { width: 46%; }
.item.w3 { width: 69%; }
.item.w4 { width: 92%; }